.l-overview {
	padding: 20px;

	&__heading {
		padding-bottom: 20px;
	}

	&__content {
		display: grid;
		grid-template-columns: minmax(auto, 500px);
		justify-content: center;
		gap: 20px;

		div {
			min-width: 200px;
			width: 100%;
		}
	}
}

@media screen and (min-width: 776px) {
	.l-overview {
		&__content {
			grid-template: 1fr 1fr / 1fr 1fr;
		}
	}
}

@media screen and (min-width: 1024px) {
	.l-overview {
		&__content {
			grid-template: 1fr / repeat(4, 1fr);
		}
	}
}
