// Toggle variables
$toggle-width: 50px;
$toggle-height: 25px;
$toggle-padding: 3px;
$toggle-ball: calc(#{$toggle-height} - (#{$toggle-padding} * 2));
$toggle-bg-color: hsl(230, 22%, 74%);
$toggle-bg-dark-color: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

// colors
$color-increase: hsl(163, 72%, 41%);
$color-decrease: hsl(356, 69%, 56%);

$color-facebook: hsl(208, 92%, 53%);
$color-twitter: hsl(203, 89%, 53%);
$color-instagram: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$color-youTube: hsl(348, 97%, 39%);

// light-theme
$light-theme-bg: hsl(0, 0%, 100%);
$light-theme-bg-pattern: hsl(225, 100%, 98%);
$light-theme-card-bg: hsl(227, 47%, 96%);
$light-theme-text: hsl(228, 12%, 44%);
$light-theme-dark-text: hsl(230, 17%, 14%);

// Dark-theme
$dark-theme-bg: hsl(230, 17%, 14%);
$dark-theme-bg-pattern: hsl(232, 19%, 15%);
$dark-theme-card-bg: hsl(228, 28%, 20%);
$dark-theme-text: hsl(228, 34%, 66%);
$dark-theme-light-text: hsl(0, 0%, 100%);
